@charset "utf-8";
/*
*
****初始化css默认样式
*
*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
    border: 0;
}
/*清除img图片的边距*/
img {
    border:0;
    vertical-align: top;
}
/*  去掉图片低测默认的3像素空白缝隙*/
table {
    border-collapse: collapse;
}
body {
    color:#fff;
    background: #fff;
    font-size: 12px;
}
a {
    text-decoration: none;
    color:#fff;
}
a:hover {
    color:#999;
}
img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}
h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}
.hide {
    display: none
}
/*版心*/
.w {
    width: 1090px;
    margin: 0 auto;
}
/*左浮动*/
.l {
    float: left;
}
/*右浮动*/
.r {
    float: right;
}
/*清除浮动*/
.clear:before, .clear:after {
    content: "";
    display: table;
}
.clear:after {
    clear: both;
}
.clear {
    *zoom: 1; /*IE/7/6*/
}